@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');

body {
  font-family: 'Stint Ultra Condensed', sans-serif;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  background: black;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}